.header {
  gap: 3rem;
  margin: 3rem auto 5rem auto;
  width: 90%;
  max-width: 75rem;

  font-size: 1.5rem;
}

.header h1 {
  font-family: "Montserrat", sans-serif;
}

.highlight {
  background: #5181c0;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main {
  width: 90%;
  max-width: 75rem;
  margin: 3rem auto;
}

.form {
  max-width: 50rem;
}

.form label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}

.form input,
.form textarea {
  display: block;
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 4px;

  background: #fdfeff;
  font-size: 1.25rem;
  font-family: "Montserrat", sans-serif;
  color: #000000;
}

.form input:focus,
.form textarea:focus {
  outline-color: #5181c0;
  background-color: #5181c0;
}

.row {
  display: flex;
  gap: 1rem;
}

.row p {
  width: 100%;
}

.actions {
  text-align: right;
}

.actions button {
  border: 0;
  padding: 0.75rem 2rem;
  border: none;
  color: white;
  background-color: #5181c0;
  border-radius: 10px;
  cursor: pointer;
  font: inherit;
  font-size: 1.25rem;
  box-shadow: 0 0 0.5rem #5181c0;
}

.actions button:hover {
  box-shadow: 0 0 0.5rem #5181c0;
  background-color: #ffffff;
  color: #000000;
}
