* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

body {
  background: rgb(40, 73, 62);
  color: white;
}
.error {
  text-align: center;
  margin-top: 3rem;
}
.not-found {
  text-align: center;
  margin-top: 3rem;
}
